<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script defer src="../static/utils.js"></script>
    <script defer src="../static/auth.js"></script>
</head>
<body>
<div>
    <header>
        {{ message }}
    </header>
    <div>
        <form id="auth" name="auth" action="">
            <p></p>
            <label for="username">Username or email address</label><br>
            <input type=text id="username" name="username">
            <p></p>
            <label for="password">Password</label><br>
            <input type="text" id="password" name="password">
            <p></p>
            <input type=submit value="Auth" >
        </form>
    </div>
    <div>
        <br>
        <button class="refresh_token">Refresh Token</button>
    </div>
</div>
</body>
</html>